body {
  background-color: rgb(32, 34, 37);
  height: 100%;
  margin: 0;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

#wrapper {
  min-height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  width: 100%;
  height: 56px;
  font-size: 16px;
}

.logo {
  max-width: 100%;
  margin-left: 24px;
  box-sizing: border-box;
  display: block;
  border-style: none;
}

.dropdown-menu {
  height: 30px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  box-sizing: border-box;
  border-style: none;
}

.dropdown {
  margin-right: 24px;
  width: 500px;
  background-color: #363840;
  color: #8a939b;
  font-size: large;
  text-align-last: center;
  border-radius: 3px;
  font-family: "Helvetica", sans-serif;
}

.collection-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 40px;
  gap: 8px;
}

#collection-name {
  /* font-size: 36px; */
  color: white;
  font-weight: 700;
}

#sort-order {
  color: white;
  font-weight: 700;
  /* display:none; */
}

.modal {
  z-index: 1;
  position: fixed;
  background-color: rgb(0, 0, 0 , 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.modal-box {
  display: flex;
  flex-direction: horizontal;
  justify-content: center; 
  margin-top: 80px;
  width: 800px;
  height: 800px;
  /* width: 80%; */
  background-color: white;
  border-radius: 3%;
}

.modal-body {
  border-radius: 10px;
  display: flex;
  justify-content: between;
  align-items: center;
  /* margin-bottom: 30px; */
  height: 100%;
  width: 800px;
  background-color: rgb(32, 34, 37);
}

.modal-body-left {
  display: flex;
  flex-flow: column;
  width: 55%;
  align-items: center;
  /* justify-content: center; */
  margin-left: 20px;
  gap: 18px;
}

.rank,.collection-and-id {
  color: #dbdde0;
  display: flex-wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  gap: 10px;
}

.rank {
  color:#007bfe;
  font-weight: 700;
}

.modal-body img {
  display:block;
  border-radius: 3%;
  width: 432px;
  height: 432px;
  /* border: 2px solid white; */
}

.modal-body-right {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  color: black;
  gap: 4px;
}

.rarity-score-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  background-color:#007bfe;;
  border-radius: 6px;
  width: 90%;
  height: 70;
  margin-bottom: 8px;
  justify-content: space between;
}

.rarity-score-label {
  margin-top: 4px;
  margin-bottom: 3px;
}

.rarity-score {
  display:flex;
  flex-flow: column;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  background-color:rgb(32, 34, 37);
  color: white;
  border-radius: 5px;
  width: 90%;
  height: 32px;
}

.trait-and-score{
  font-size: 18px;
  background-color: rgb(32, 34, 37);
  width: 80%;
  height: 22px;
  display:flex;
  flex-direction: horizontal;
  align-items: center;
  color: white;
  /* border: 1px solid white; */
}

.trait-and-score {
  color: #dbdde0;
  display:flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: space-between;
}

.trait-score {
  font-weight: 700;
  color: white;
  top: 2px;
}

.value-and-count {
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8a939b;
  border-radius: 4px;
  height: 24px;
  font-size: 18px;
  margin-bottom: 10px;
  
}

.trait-value {
  margin-left: 5px;
  font-size:medium;
}

.trait-count {
  background: white;
  width: 64;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#gallery {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: center;
  margin: 0px auto 20px;
  max-width: 1400px;
  width: 100%;
  gap: 16px;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  width: 190px;
  transition: 0.2s;
  /* box-shadow: 0 2px 2px 0 black; */
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.5715;
  position: relative;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(4, 12, 18);
  font-size: 14px;
  box-sizing: border-box;
  
  /* -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s; */
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px white;
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.card-cover {
  margin-top: -1px;
  margin-right: -1px;
  margin-left: -1px;
  box-sizing: border-box;
  cursor: pointer;
}

.card-body {
  box-sizing: border-box;
  padding: 24px;
  /* display: block; */
}

.image-wrapper {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-body-rank,
.card-body-detail {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}

.card-body-rank {
  color: #007bfe;
  font-weight: 600;
}

.card-body-detail {
  color: #dbdde0;
  font-weight: 600;
}

.load-more {
  display: none;
  justify-content: center;
  padding: 40px;
}

#load-button {
  display: none;
  color: #fff;
  border-color: #007bfe;
  background: #007bfe;
  font-weight: 700;
  font-size: 20;
  height: 48px;
  width: 128px;
  border-radius: 6px;
}

footer {
  height: 600px;
}
